<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TAP &mdash; 가상 정부페이지_ team3 TAP </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-3 col-xl-4  d-block">
            <a href="#"><img src="images/24.jpg" alt="Image" width="400"></a>
          </div>

          <div class="col-12 col-md-9 col-xl-8 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#features-section" class="nav-link">Application</a></li>
                <li>
                  <a href="#QR_section" class="nav-link">QR</a>
                </li>
                <li><a href="#blog-section" class="nav-link">News</a></li>
                <li><a href="#testimonials-section" class="nav-link">Our Team</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    

    <div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
            
            <img src="images/undraw_investing_7u74.svg" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>Make Your Identity More Comfy</h1>
                <p class="mb-5">새롭게 도입된  DID 신원인증 시스템</p>
                <div>
                  <a href="#features-section" class="btn btn-primary mr-2 mb-2">Get Started</a>
                </div>

              </div>

  
              
            </div>
            
          </div>
        </div>
      </div>
    </div>  





    <div class="site-section" id="features-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
          <div class="col-7 text-center  mb-5">
           <h2 class="section-title">Application</h2> 
           <pre>

            

           </pre>

          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
              </div>
              <div>
                <h3>신분증</h3>
                <p>간편한 QR 신분증!</p>
                <button onclick="getSchema()"> 
                <p><a href="#QR_section">발급하기</a></p>
              </button>
              </div>
            </div>

          </div>
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <script>
            function getSchema(){
              axios({
                method: "get",
                url: "http://192.168.0.13:3000/api/No2"
              })
              .then(response => {
                console.log(response.data)
              })
            }
          </script>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-file"></span></span>
              </div>
              <div>
                <h3>증명서</h3>
                <p>간편한 QR 증명서!</p>
                <p><a href="#QR_section">발급하기</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-car"></span></span>
              </div>
              <div>
                <h3>운전면허증</h3>
                <p>간편한 QR 증명서!</p>
                <p><a href="#QR_section">발급하기</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-hospital-o"></span></span>
              </div>
              <div>
                <h3>예방접종 증명</h3>
                <p>간편한 QR 증명서!</p>
                <p><a href="#QR_section">발급하기</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-check"></span></span>
              </div>
              <div>
                <h3>건강보험 자격확인</h3>
                <p>간편한 QR 증명서!</p>
                <p><a href="#QR_section">발급하기</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-plane"></span></span>
              </div>
              <div>
                <h3>출입국 사실증명</h3>
                <p>간편한 QR 증명서!</p>
                <button onclick="makeSchema()"> 
                  <p><a href="#QR_section">schema 만들기!!</a></p>
                </button>
                </div>
            </div>
          </div>

          <script>
            function makeSchema(){
              axios({
                method: "post",
                url: "http://192.168.0.13:3000/api/makeSchema"
              })
              .then(response => {
                console.log(response.data)
              })
            }
          </script>

    
    
    <div class="row align-items-center" id="QR_section"  data-aos="fade-down">
      <div class="container">
        <div class="row mb-5" >
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">QR Generate</h2>
          </div>
        </div>
     
      


        <textarea id="qr-data" class="form-control" placeholder="'생성' 버튼을 눌러 QR생성을 완료 해 보세요!" ></textarea> <br>
        <button class="btn btn-primary" onclick="generateQR()">생성!</button> <br> <br>
        <div class="center-block" id="qrcode"></div>



        
        <script src="../js/qrcode.min.js"></script>
        <script>
            var qrdata = document.getElementById("qr-data");
            var qrcode = new QRCode(document.getElementById("qrcode"));

            function generateQR() {
                // var data = qrdata.value;
                var data = "http://192.168.0.13:3001/api/schemaId";
                qrcode.makeCode(data);
            }
        </script>

      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">QR 신분증 내보내기 </h2>
        <p class="mb-4">발급된 신분증을 모바일로 !</p>
        
        <div class="author-box" data-aos="fade-left">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img src="images/logo.jpg" alt="Image" class="img-fluid rounded-circle">
            </div>
            <div class="mr-auto text-black">
              <strong class="font-weight-bold mb-0">T A P ! ! !</strong> <br>
              간편한 모바일 신분증
              
            </div>
          </div>
          <blockquote>&ldquo;모바일 신분증 QR 생성이 완료되었습니다!
          모바일 어플에서 가져오기 버튼을 눌러 QR신분증을 모바일에 저장해보세요!
          &rdquo;</blockquote>
        </div>
      </div>
    </div>
        
      </div>
    </div>
  </div>

    <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade-up">
            <h2 class="section-title mb-3">News</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="h-entry">
              <img src="images/001_news.png" alt="Image" class="img-fluid">
              <h2><a href="https://blog.naver.com/korea_gov/222085673627">알아두면 좋은 정부서비스(18편) - 취업 성공 패키지 </a></h2>
              <div class="meta mb-4">정부 24 <span class="mx-2">&bullet;</span> Sep 11, 2020<span class="mx-2">&bullet;</span> <a href="https://blog.naver.com/korea_gov/222085673627">News</a></div>
              <p>만 18~69세 저소득층 및 미취업 청년 취업 취약계층이라면 누구나 신청이 가능한 개인별
                취업 활동 계획에 맞는 서비스를 지원하는 취업지원 프로그램입니다.
              </p>
              <p><a href="#">Continue Reading...</a></p>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="h-entry">
              <img src="images/002_news.png" alt="Image" class="img-fluid">
              <h2><a href="https://blog.naver.com/korea_gov/222092260289">[유익한 웹, 편리한 앱] K-Startup(창업넷) </a></h2>
              <div class="meta mb-4">정부 24 <span class="mx-2">&bullet;</span> Sep 18, 2020<span class="mx-2">&bullet;</span> <a href="https://blog.naver.com/korea_gov/222092260289">News</a></div>
              <p>창업 지원 사업 정보, 온라인 창업 교육, 창업 공간 정보 등 
                창업과 관련된 다양한 서비스를 한 눈에 확인할 수 있습니다.
              </p>
              <p><a href="#">Continue Reading...</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="h-entry">
              <img src="images/003_news.png" alt="Image" class="img-fluid">
              <h2><a href="http://blog.naver.com/korea_gov/221936134133">[정부24] 코로나19 정부지원 서비스 안내 </a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Apr 29, 2020<span class="mx-2">&bullet;</span> <a href="http://blog.naver.com/korea_gov/221936134133">News</a></div>
              <p>코로나19관련 중앙, 지자체에서 지원하는 혜택을 정부24에서 한눈에 확인할 수 있습니다.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div> 
          </div>
          
        </div>
      </div>
    </div>
    


    <div class="site-section testimonial-wrap bg-light" id="testimonials-section">




    <div class="site-section" id="our-team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
          <div class="col-7 text-center  mb-5">
            <h2 class="section-title">Our Team</h2>
            <p class="lead">
              Introducing our proud team members ~</p>
          </div>
        </div>
       
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="person">
              <div class="bio-img">
                <figure>
                  <img src="images/wpswkdTm.jpg" alt="Image" class="img-fluid">
                </figure>
                <div class="social">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                </div>
              </div>
              <h2 class="text-black h1">Yohan</h2>

              <p>Thank you !</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="person">
              <div class="bio-img">
                <figure>
                  <img src="images/eunhye.jpg" alt="Image" class="img-fluid">
                </figure>
                <div class="social">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                </div>
              </div>
              <h2 class="text-black h1">Eunhye</h2>

              <p>Thank you !</p>
              
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="person">
              <div class="bio-img">
                <figure>
                  <img src="images/sinae.jpg" alt="Image" class="img-fluid">
                </figure>
                <div class="social">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                </div>
              </div>
              <h2 class="text-black h1">Shinae</h2>

              <p>Thank you !</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="person">
              <div class="bio-img">
              
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('images/white.jpg');">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3 text-white">Contact Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            

            <form action="#" class="p-5 bg-white">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control rounded-0">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Leave your message here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2">
                </div>
              </div>

  
            </form>
          </div>
        
        </div>
        
      </div>
    </div>

    <div class="footer py-5 text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
              <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
              <a href="#" class="p-3"><span class="icon-pinterest"></span></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .site-wrap -->

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/jquery-ui.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.countdown.min.js"></script>
  <script src="../js/bootstrap-datepicker.min.js"></script>
  <script src="../js/jquery.easing.1.3.js"></script>
  <script src="../js/aos.js"></script>
  <script src="../js/jquery.fancybox.min.js"></script>
  <script src="../js/jquery.sticky.js"></script>

  
  <script src="../js/main.js"></script>
  
  </body>
</html>