<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">your DID </h2>

      <div class="container">
      <input type="text" placeholder="your DID"> <br>
      <button> 발급 !</button>
      <div id="qrcode"></div>
      </div>

      <script src="public/js/qr.js"></script>
      <script src="public/js/qrcode.js"></script>

    </div>
  </body>
  
</html>
