<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <hr>
    <h1>COMPLETE !!!</h1>
    <div>
        <form method="POST" action="/test4">
            <!-- <input type="button" value="NEXT" src="./views/test2.ejs" > -->
            <a href="/test2"> NEXT/NEXT/NEXT</a> 
        </form>
    </div>
</body>
</html>