<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<%- include('../views/partials/head') %>

</head>
<body>
<%- include('../views/partials/nav') %>


<div class="container mb-3">

<h2 class="mb-3">schema</h2>

<form action="/No4" method="POST">
<!-- in the select form, if you choose the first one, the value of first one will input in name="list", -->

<div class="input-group">
    <select class="custom-select" name="list">
      <option selected>    </option>
      <option value="Th7MpTaRZVRYnPiabds81Y:2:YOSUNIIIII:1.0" > 신분증 </option>
      <option > 성적표 </option>
      <option > 증명서 </option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">제 출 !</button>
    </div>
  </div>
</form> <br><br>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id=""> qrcode </span>
  </div>
  <input type="text" class="form-control" id="qr-data1" value="" >
  <input type="text" class="form-control" id="qr-data2" value="">
  <button class="btn btn-secondary" onclick="generateQR()"> connect </button>
</div>
<div id="qrcode"></div>

<div>
    <a href="/No4"> GET CREDENTIAL </a>
</div>


  


</div>
</body>

<script type="text/javascript"></script>
<script src="../js/qrcode.min.js"></script>
<script>
var qrdata1 = document.getElementById("qr-data1");
var qrdata2 = document.getElementById("qr-data2");
var qrcode = new QRCode(document.getElementById("qrcode"));

function generateQR() {
        var data = qrdata1.value + "\n" + qrdata2.value;

        qrcode.makeCode(data);
    }
</script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</html>
