<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST" >
            <!-- <div>
                <input type="text" name="name" id="your_name" placeholder="Your Name"/>
            </div> -->
            <div>
                <a href=""> NEXT !! </a>
           </div>
        </form>
    </div>

    <did>
        <form method="POST">
            <div>
               <h1> Verifier DID : <%= did %>  </h1>
            </div>
        </form>
    </did>

    
</body>
</html>
