<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<%- include('../views/partials/head') %>

</head>
<body>
<%- include('../views/partials/nav_prover.ejs') %>


<div class="container mb-3">

    <h2 class="mb-3">CREDENTIAL</h2>
    <br><br>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id=""> INPUT </span>
         </div>
    </div>

    <form  method="POST">
        <div>
            <button  type="submit" class="btn btn-secondary"  > <%=JSON.stringify(data)%> </button>
        </div>
    </form> 

    <div id="qrcode"></div>


</div>

</body>

<script type="text/javascript"></script>
<script src="../js/qrcode.min.js"></script>
<script>
var qrdata1 = document.getElementById("qr-data1");
var qrdata2 = document.getElementById("qr-data2");
var qrcode = new QRCode(document.getElementById("qrcode"));

function generateQR() {
        var data = qrdata1.value + "\n" + qrdata2.value;

        qrcode.makeCode(data);
    }
</script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</html>
