<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verifier</title>  
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <%- include('../views/partials/nav_verifier') %>

    <div class="container mb-3">

      <h2 class="mb-3">your DID : <%= did %></h2>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"> your DID </span>
        </div>
        <!-- <textarea id="qr-data" class="form-control" placeholder="DID 입력!" ></textarea> -->
        <!-- <button class="btn btn-secondary" onclick="generateQR()"> 발급 !</button> -->
      </div>
      </div>
    </div>
  </body>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</html>
